version: '2'
services:
  portal:
    build: .
    depends_on:
     - postgres
    ports:
     - "8888:8080"
     - "11311:11311"
  postgres:
    image: postgres
    ports:
     - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=my-secret-pw
      - POSTGRES_USER=liferay
      - POSTGRES_DB=lportal
